<article class="single {{post_class}}">
    <header class="single-header kg-canvas">
        {{#is "post"}}
        <div class="single-meta">
            <span class="single-meta-item single-meta-date">
                <time datetime="{{date format=" YYYY-MM-DD"}}">
                    {{date published_at}}
                </time>
            </span>
            <span class="single-meta-item single-meta-length">
                {{reading_time}}
            </span>
            {{#primary_tag}}
            <span class="single-meta-item single-meta-tag">
                <a class="post-tag post-tag-{{slug}}" href="{{url}}">
                    {{name}}
                </a>
            </span>
            {{/primary_tag}}
        </div>
        {{/is}}
        <h1 class="single-title">{{title}}</h1>
        {{#if custom_excerpt}}
        <div class="single-excerpt">
            {{custom_excerpt}}
        </div>
        {{/if}}
        {{#if feature_image}}
        {{#unless no_image}}
                <figure class="single-media kg-width-{{width}}">
                    <div class="u-placeholder horizontal">
                        <img class="lazyload u-object-fit" data-srcset="{{> srcset}}"
                            data-sizes="auto" src="{{img_url feature_image size="l"}}"
                            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                    </div>

                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/unless}}
        
        {{/if}}
    </header>
    <div class="single-content kg-canvas u-text-format">
        {{#if access}}
        {{content}}
        {{#is "post"}}
        {{#unless @member}}
        <section class="single-cta">
            <h2 class="single-cta-title">Thank you for reading</h2>
            <p>Subscribe and get new articles in your inbox. <br /> Once a week, no spam, no
                fluff.</p>
            <style type="text/css">
                .subscription-form .error,
                .subscription-form .loading,
                .subscription-form .success {
                    display: none;
                    font-size: 1.4rem;
                    padding-top: 0.6rem;
                }

                form.error div.error {
                    display: block
                }

                form.loading div.loading {
                    display: block;
                }

                form.success div.success {
                    display: block;
                }
            </style>
            <form class="subscription-form" data-members-form>
                <input class="single-cta-subscription-form-input" data-members-email type="email" required="true"
                    placeholder="Your email" />
                <button type="submit" class="button members-subscribe">Subscribe</button>
                <div class="error" data-members-error=""></div>
                <div class="loading">
                    Subscribing in progress...
                </div>
                <div class="success">
                    Done! Please check your inbox to confirm your email.
                </div>
            </form>
            {{!--
            <br>
            <button class="button single-cta-button" data-portal="signup/free">Subscribe now</button>
            <button class="button-text single-cta-footer" data-portal="signin">Already have an account? Log in</button>
            --}}
        </section>
        {{/unless}}
        {{/is}}
        {{else}}
        <section class="single-cta">
            {{#has visibility="paid"}}
            <h2 class="single-cta-title">This post is for paying subscribers only</h2>
            {{else}}
            <h2 class="single-cta-title">This post is for subscribers only</h2>
            {{/has}}

            {{#if @member}}
            {{#unless @member.paid}}
            <p>Upgrade now and get instant access to all articles on {{@site.title}}.</p>
            <button class="button single-cta-button" data-portal="account/plans">Upgrade now</button>
            {{/unless}}
            {{else}}
            <p>Sign up now and get instant access to all articles on {{@site.title}}.</p>
            <button class="button single-cta-button" data-portal="signup/free">Subscribe now</button>
            <br />
            <button class="button-text single-cta-footer" data-portal="signin">Already have an account? Sign in</button>
            {{/if}}
        </section>
        {{/if}}
    </div>
    {{!--
    {{#is "post"}}
    <footer class="single-footer container medium">
        <div class="single-footer-left">
            {{#prev_post}}
            <div class="navigation navigation-previous">
                <a class="navigation-link" href="{{url}}" aria-label="Previous post">
                    <svg class="icon navigation-icon">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </a>
            </div>
            <div class="single-footer-middle">
                {{#if @custom.show_author}}
                    <div class="single-footer-top">
                        <h3 class="single-footer-title">Published by:</h3>
                        <div class="author-list">
                            {{#foreach authors}}
                                <div class="author-image-placeholder u-placeholder square">
                                    <a href="{{url}}" title="{{name}}">
                                        <img class="author-image lazyload u-object-fit"
                                            data-srcset="{{img_url profile_image size="xs"}}"
                                            src="{{img_url profile_image size="xs"}}"
                                            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            alt="{{name}}">
                                    </a>
                                </div>
                            {{/foreach}}
                        </div>
                    </div>
                {{/if}}
                {{#if @custom.show_share_links}}
                    <div class="single-footer-bottom">
                        <div class="share">
                            <a class="share-link share-link-facebook" href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener noreferrer">
                                <svg class="icon icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                                Share
                            </a>
                            <a class="share-link share-link-twitter" href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}" target="_blank" rel="noopener noreferrer">
                                <svg class="icon icon-twitter">
                                    <use xlink:href="#twitter"></use>
                                </svg>
                                Tweet
                            </a>
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="single-footer-bottom">
                <div class="share">
                    <a class="share-link share-link-facebook"
                        href="https://www.facebook.com/sharer.php?u={{url absolute=" true"}}" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="icon icon-facebook">
                            <use xlink:href="#facebook"></use>
                        </svg>
                        Share
                    </a>
                    <a class="share-link share-link-twitter" href="https://twitter.com/intent/tweet?url={{url absolute="
                        true"}}&text={{encode title}}" target="_blank" rel="noopener noreferrer">
                        <svg class="icon icon-twitter">
                            <use xlink:href="#twitter"></use>
                        </svg>
                        Tweet
                    </a>
                </div>
            </div>
        </div>
        <div class="single-footer-right">
            {{#next_post}}
            <div class="navigation navigation-next">
                <a class="navigation-link" href="{{url}}" aria-label="Next post">
                    <svg class="icon navigation-icon">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
            {{/next_post}}
        </div>
    </footer>
    {{/is}}
    --}}
</article>